/* -------------------- s-debugger-controls -------------------- */

s-debugger-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--padding);
    width: 100%;
    font-family: var(--code-font);

    --padding: 0.5rem;
}

s-debugger-controls.controls {
    max-width: 100%;
}

s-debugger-controls .controls-left button:nth-of-type(1) {
    border-top-left-radius: 1rem;
}

s-debugger-controls .controls-right button:last-of-type {
    border-top-right-radius: 1rem;
}
